.modal{
  background: rgba(25, 25, 25, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  .paper{
    width: 350px;
    height: 580px;
    background: radial-gradient(100% 206.01% at 100% 97.06%, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0) 100%);
    border: 0.5px solid rgba(241, 241, 241, 0.2);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
    border-radius: 10px;
    .container{
      .top{
          display: flex;
          align-items: center;
          margin-left: 15px;
          margin-bottom: 10px;
          p{
              font-style: normal;
              font-weight: 600;
              font-size: 16px;
              line-height: 24px;
              color: rgba(255, 255, 255, 0.8);
          }
          .exitButton{
              display: flex;
              justify-content: center;
              align-items: center;
              background: radial-gradient(100% 206.01% at 100% 97.06%, rgba(255, 255, 255, 0.46) 0%, rgba(255, 255, 255, 0) 100%);
              border: 0.5px solid rgba(241, 241, 241, 0.2);
              box-sizing: border-box;
              filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
              border-radius: 30px;
              width: 30px;
              height: 30px;
              transition: .3s;
              margin-left: 135px;
              :hover{
                  opacity: 70%;
              }
          }
      }
      .desc{
          font-style: normal;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          color: rgba(255, 255, 255, 0.4);
          margin: 0 15px;
      }
      .duration{
          display: flex;
          align-items: center;
          margin: 10px 15px;
          p{
              margin: 0;
              margin-left: 5px;
              font-style: normal;
              font-weight: 500;
              font-size: 9px;
              line-height: 13px;
              color: rgba(255, 255, 255, 0.7);
          }
          h4{
              margin: 0;
              margin-left: 210px;
              font-style: italic;
              font-weight: normal;
              font-size: 9px;
              line-height: 13px;
              color: rgba(255, 255, 255, 0.4);
          }
      }
      .review{
          margin: 0 12px;
          max-height: 220px;
          overflow: auto;
          ul{
              max-width: 320px;
              display: flex;
              flex-flow: row wrap;
              margin: 0;
              padding: 0;
              justify-content: center;
              li{
                  list-style: none;
                  width: 145px;
                  height: 90px;
                  background: rgba(255, 255, 255, 0.06);
                  border: 0.5px solid rgba(241, 241, 241, 0.2);
                  box-sizing: border-box;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
                  border-radius: 10px;
                  margin:8px 7px;
                  .profile{
                      margin-top: 10px;
                      margin-left: 10px;
                      display: flex;
                      align-items: center;
                      .name{
                          margin: 0;
                          padding: 0;
                          font-style: normal;
                          font-weight: bold;
                          font-size: 9px;
                          line-height: 13px;
                          color: rgba(255, 255, 255, 0.8);
                      }
                      .from{
                          margin: 0;
                          margin-left: 8px;
                          padding: 0;
                          font-style: normal;
                          font-weight: normal;
                          font-size: 6.76px;
                          line-height: 10px;
                          color: rgba(255, 255, 255, 0.7);
                      }
                  }
                  .comment{
                      margin-left: 10px;
                      margin-bottom: 0;
                      font-style: italic;
                      display: flex;
                      flex-flow: row wrap;
                      max-width: 130px;
                      height: 30px;
                      font-weight: normal;
                      font-size: 9px;
                      line-height: 13px;
                      color: rgba(255, 255, 255, 0.5);
                  }
                  .nilai{
                      margin-top: 0;
                      margin-left: 5px;
                      display: flex;
                      height: 15px;
                      li{
                          margin-top: 0;
                          height: 12px;
                          width: 12px;
                          border: none;
                          box-shadow: none;
                          background: none;
                          margin: 0 5px;
                          list-style: none;
                      }
                      .minus{
                          opacity: 50%;
                      }
                  }
              }
          }
      }
      hr{
          margin: 10px 15px;
          border: 0.5px solid rgba(255, 255, 255, 0.2);
      }
      .dateTime{
          p{
              margin: 10px 15px;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              line-height: 18px;
              color: rgba(255, 255, 255, 0.8);
          }
          .picker{
              margin-left: 15px;
              display: flex;
              max-height: 193px;
              overflow: auto;
              ul{
                  margin: 0;
                  padding: 0;
                  :hover{
                      background: rgba(255, 255, 255, 0.8);
                  }
                  .timePicker{
                      display: flex;
                      justify-content: center;
                      margin: 5px;
                      margin-left: 10px;
                      list-style: none;
                      font-size: 10px;
                      line-height: 15px;
                      display: flex;
                      align-items: center;
                      text-align: center;
                      color: rgba(255, 255, 255, 0.8);
                      border: 0.5px solid rgba(255, 255, 255, 0.5);
                      box-sizing: border-box;
                      border-radius: 5px;
                      padding: 2px 5px;
                  }
              }
          }
          .date{
              display: flex;
              align-items: center;
              margin-left: 20px;
              p{
                  margin: 0;
                  margin-left: 5px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: 13px;
                  color: rgba(255, 255, 255, 0.7);
              }
          }
          .date{
              display: flex;
              align-items: center;
              margin-left: 20px;
              margin-top: 8px;
              p{
                  margin: 0;
                  margin-left: 5px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: 13px;
                  color: rgba(255, 255, 255, 0.7);
              }
          }
          .time{
              display: flex;
              align-items: center;
              margin-left: 20px;
              p{
                  margin: 0;
                  margin-left: 5px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 9px;
                  line-height: 13px;
                  color: rgba(255, 255, 255, 0.7);
              }
          }
      }
      .bottom{
          display: flex;
          align-items: center;
          margin-left: 20px;
          margin-top: 10px;
          p{
              margin: 0;
              font-style: normal;
              font-weight: bold;
              font-size: 16px;
              line-height: 24px;
              color: rgba(255, 255, 255, 0.8);
          }
          .confirm{
              margin-left: 140px;
              background: rgba(255, 255, 255, 0.11);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
              border-radius: 10px;
              width: 90px;
              height: 30px;
              display: flex;
              justify-content: center;
              :hover{
                  opacity: 70%;
              }
              p{
                  margin: 0;
                  padding: 6px;
                  font-style: normal;
                  font-weight: 500;
                  font-size: 12px;
                  line-height: 18px;
                  color: rgba(255, 255, 255, 0.8);
              }
          }
      }
  }
  }
}